* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vh;
    background: #0F0D13;
    color: #E1E1E6;
}

.projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215vh;
    flex-shrink: 0;
}

#frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 498px; 
    padding: 38.41px;
    margin: 66px 32px 83px 191px;
    border-radius: 9.603px;
    background: #2A2141;
    gap: 28.81px;
}

#frame1 #name-album h1 {
    font-size: 24px;
    gap: 9.6px;
    font-weight: bold;
}

#name-album p {
    font-size: 19px;
    font-weight: 100;
}

.play {
    display: flex;
    gap: 50.42px;
    font-size: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
}

#frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38.41px;
    margin: 66px 190px 314px 89px;
    border-radius: 9.603px;
    background: #2A2141;
    gap: 28.81px;
}

#frame2 #title {
    display: flex;
    gap: 28.81px;
}

#name2 {
    display: flex;
    flex-direction: column;
}

#frame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 199px;
    padding: 38.41px;
    margin: 365px 190px 83px -590px;
    border-radius: 9.603px;
    background: #2A2141;
    gap: 28.81px;
}

#title {
    display: flex;
    gap: 28.81px;
}

#name h1{
    width: 30vh;
    display:flex;
    font-size: 24px;
    gap: 9.6px;
    font-weight: bold;
}